[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aio-pika = "*"
aioredis = "*"
mypy = "*"
redis = "*"
pytest = "*"
fakeredis = "*"
pytest-asyncio = "*"
freezegun = "*"


[dev-packages]



[requires]

python_version = "3.6"
