# A requirements file for my playing with pyup
# This is created by hand, and not necessarily useful(!)
# I haven't specified all the sub-dependencies...

aio-pika==2.9.0
aioredis == 1.1.0
mypy==0.610
redis = 2.10.6
pytest==3.6.2
fakeredis==0.11.0
pytest-asyncio==0.8.0
freezegun
